.container{
background-image:url('../latex/hero-bg.jpg');
background-size:cover;
background-repeat:no-repeat;
height:650px;
}
#nav{
color:white;
margin-left:20px;
}
#p1{
color:white;
}
#box{
margin-left:250px;
}
#img1{
margin-left:40px;
}